#
# Copyright (c) 2024 Edge Impulse
#

source "Kconfig.zephyr"

menu "Edge Impulse nRF7002DK example"

config EI_INFERENCE_THREAD_STACK
    int "Inference thread stack size"
    default 256
    help
      "Set the Edge Impulse inference thread stack size."

config EI_INFERENCE_THREAD_PRIO
    int "Inference thread priority"
    default 5
    help
      "Set the Edge Impulse inference thread priority. The lower number, the higher prority."

module = REMOTE_INGESTION
module-str = Remote Ingestion
source "subsys/logging/Kconfig.template.log_config"

endmenu